<mat-form-field id='search-field' *ngIf="selectedObjects.length < 2">
    <input matInput type="text"  [(ngModel)]="searchQuery"
           (keyup)="search(searchQuery)"
           [placeholder]="selectedObjects.length ? 'Startpoint...': 'Search...'">
</mat-form-field>

<br>

<mat-form-field *ngIf="selectedObjects.length === 2">
    <input matInput type="search" incremental name="search" [ngModel]="selectedObjects[1].label"
           placeholder="Startpoint... " disabled >
</mat-form-field>

<mat-form-field *ngIf="selectedObjects.length">
    <input matInput type="search" incremental name="search" [ngModel]="selectedObjects[0].label"
           placeholder="Endpoint... " disabled >
</mat-form-field>

<button mat-raised-button *ngIf="selectedObjects.length" (click)="onCancelClick()" ><mat-icon>cancel</mat-icon> Clear</button>


<mat-nav-list>
    <span *ngFor="let f of floors; let i = index">
    <h3 *ngIf="f.searchResults.length" mat-subheader>{{f.label.length ? f.label : i+1}}</h3>
    <mat-list-item *ngFor="let result of f.searchResults"
                   (click)="selectWaypoint(result)">{{result.label}}</mat-list-item>
    </span>
</mat-nav-list>
