<!-- Form login -->
<div class="row" style="margin: 20px 20px 20px 20px">
  <div class="col-md-4"></div>
  <form class="col-md-4">
      <p class="h5 text-center mb-4">Sign in</p>

      <div class="md-form">
          <i class="fa fa-child prefix grey-text"></i>
          <input type="text" id="defaultForm-email" class="form-control">
          <label for="defaultForm-email">username</label>
      </div>

      <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control">
          <label for="defaultForm-pass">password</label>
      </div>

      <div class="text-center">
          <button class="btn btn-default waves-effect">Login</button>
      </div>
  </form>
  <div class="col-md-4"></div>
</div>
