<mat-toolbar [class.mat-elevation-z6]="isScrolled">

    <span class="example-fill-remaining-space"></span>

    <div *ngIf="!modelSvc.userInfo?.id">
        <button mat-button [matMenuTriggerFor]="appMenu">
            <mat-icon id="toolbarNotLoggedIn">account_box</mat-icon>
            <span>Login</span></button>
    </div>
    <div *ngIf="modelSvc.userInfo?.id">
        <button mat-button [matMenuTriggerFor]="appMenu">
            <mat-icon id="toolbarLoggedIn">account_box</mat-icon>
            <span>{{modelSvc.userInfo.username}}</span>
        </button>
    </div>
</mat-toolbar>

<mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <div *ngIf="!modelSvc.userInfo?.id;">
        <button mat-menu-item (click)="performLogin('nubenum')">Nubenum</button>
        <button mat-menu-item (click)="performLogin('github')">Github</button>
    </div>
    <div *ngIf="modelSvc.userInfo?.id;">
        <button mat-menu-item (click)="performLogout()">Logout</button>
    </div>
</mat-menu>



<img id="icon" src="../../assets/icons/logo.svg">
<h1><span id="innerTitle">The Indoor</span> Explorer</h1>
<app-map-list></app-map-list>



