<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="10px">
    <div class="item item-1" fxFlex="50%" align="center">

        <div>
            <app-content-login></app-content-login>

            <br>
            <div style="padding-top: 100px">
                <button mat-raised-button [routerLink]="['/maps']" color="accent">
                    Explore Maps
                </button>
            </div>
        </div>
    </div>
    <div class="item item-2" fxFlex="50%" align="center">
        <app-content-updates></app-content-updates>
    </div>
</div>
