<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>


    <mat-card-content>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Username">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password">
                    </mat-form-field>
                </td>
            </tr>
        </table>
  </mat-card-content>

  <mat-card-actions>
  </mat-card-actions>

  <mat-card-footer>

  </mat-card-footer>
</mat-card>
