<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><h3>Login via</h3></mat-card-title>
    </mat-card-header>


    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" style="width: 100%; padding-left: 50px">
            <div class="item item-1" fxFlex="40%" align="center">
                <button mat-raised-button (click)="performLogin('nubenum')" color="primary">
                    Nubenum
                </button>
            </div>
            <div class="item item-2" fxFlex="40%" align="center">
                <button mat-raised-button (click)="performLogin('github')" color="primary">
                    Github
                </button>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>

    <mat-card-footer>

    </mat-card-footer>
</mat-card>
