<mat-card class="example-card">
    <mat-card-header mat-colors="::{backgroundColor: 'default-primary-700'}">
        <div mat-card-avatar class="profile-image"
             style="background-image: url('./../../res/img/maintenance-icon.jpg')"></div>
        <mat-card-title>Upcoming Server Maintenance!</mat-card-title>
        <mat-card-subtitle>Nooo...</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="content-image" src="./../../res/img/Failed-Servers.jpg">
    <mat-card-content>
        <p>
            On 4th of July, our Servers will be down temporarily.
        </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
    <mat-card-footer>
        <p style="padding: 10px">02/Apr/2017 19:05</p>
    </mat-card-footer>
</mat-card>
