<app-toolbar [editMode]="editMode"></app-toolbar>

<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="{{sideNavMode}}" [disableClose]="editMode && !onMobile"  class="left-sidenav">
        <app-side-search *ngIf="!editMode" (close)="closeSidenav($event)"></app-side-search>

        <app-side-tools *ngIf="editMode"></app-side-tools>
        <app-side-properties *ngIf="editMode"></app-side-properties>

    </mat-sidenav>


    <div id="viewer-container">

        <button *ngIf="!editMode" type="button" mat-raised-button color="accent" class="sidenav-button"
                (click)="sidenav.open()">
            <mat-icon>location_searching</mat-icon>
            <span>Search</span>
        </button>
        <button *ngIf="editMode && onMobile" type="button" mat-raised-button color="accent" class="sidenav-button"
                (click)="sidenav.open()">
            <mat-icon>mode_edit</mat-icon>
            <span>Edit map</span>
        </button>

        <div id="canvas-container">

            <app-svg [editMode]="editMode" [showLabels]="showLabels"></app-svg>

            <div id="zoom-button-container">
                <button class="zoom-button" mat-raised-button (click)="zoom(1.1)">
                    <mat-icon aria-label="Zoom +">zoom_in</mat-icon>
                </button>
                <button class="zoom-button" mat-raised-button (click)="zoom(0.9)">
                    <mat-icon aria-label="Zoom -">zoom_out</mat-icon>
                </button>
                <button class="zoom-button" mat-raised-button (click)="fitToViewport()">
                    <mat-icon aria-label="Zoom -">zoom_out_map</mat-icon>
                </button>
            </div>

        </div>

        <app-floor-controls [editMode]="editMode"></app-floor-controls>

    </div>

</mat-sidenav-container>
