:host {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

#editorCanvas {
    flex: 0 0 auto;
    width: 500px;
    border: 1px red dotted;
}

#toolbox {
    flex: 1 1 auto;
    margin-left: 2em;
}

