:host {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

#editorCanvas {
    width: 50%;
    height: 500px;
    background-color: white; 
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    box-sizing: content-box;
}

.panel {
    flex: 1 1 auto;
    margin: 0 2em;
}

.search-result-floor {
    color:#b71c1c;
}

.floor-buttons button.mat-button, .tool-buttons button.mat-button {
    display: block;
}

.edit-button {
    position: absolute;
    bottom:32px;
    right:32px;
}