<svg id="editorCanvas" 
     [attr.viewBox]="canvas.panOffset.x+' '+canvas.panOffset.y+' '+canvas.canvasSize+' '+canvas.canvasSize"
     [style.cursor]="mouse.tool.cursorShape"
     (mouseup)="mouse.onMouseUp($event)" (mousedown)="mouse.onMouseDown($event)"
     (mousemove)="mouse.onMouseMove($event)" (mouseleave)="mouse.onMouseLeave($event)"
     (wheel)="mouse.onWheel($event)"
     xmlns:svg="http://www.w3.org/2000/svg" version="1.2">

    <svg:g *ngIf="floor">
        <svg:defs>
            <svg:marker id="circle" markerWidth="10" markerHeight="10" refX="5" refY="5" markerUnits="userSpaceOnUse">
                <svg:circle cx="5" cy="5" r="4" style="stroke: none; fill:#000000;"/>
            </svg:marker>
        </svg:defs>

        <svg:line *ngFor="let wall of floor.walls" stroke="black"
                  [attr.x1]="wall.p1.x" [attr.y1]="wall.p1.y" [attr.x2]="wall.p2.x" [attr.y2]="wall.p2.y"
                  marker-end="url(#circle)" marker-start="url(#circle)"/>
        <svg:line *ngFor="let portal of floor.portals" stroke="green" stroke-width="5"
                  [attr.x1]="portal.p1.x" [attr.y1]="portal.p1.y" [attr.x2]="portal.p2.x" [attr.y2]="portal.p2.y"
                  marker-end="url(#circle)" marker-start="url(#circle)"/>

        <svg:line *ngFor="let path of movingPath" stroke="red" stroke-width="3"
                  [attr.x1]="path.p1.x" [attr.y1]="path.p1.y" [attr.x2]="path.p2.x" [attr.y2]="path.p2.y"
                  marker-end="url(#circle)" marker-start="url(#circle)"/>

        <svg:circle *ngIf="mouse.xs !== null && mouse.ys !== null"
                    [attr.cx]="mouse.xs" [attr.cy]="mouse.ys" r="5" style="stroke:red; fill:none"/>
    </svg:g>

    <text *ngIf="!floor" x="50%" y="50%" alignment-baseline="middle" text-anchor="middle" font-size="40">
        Bitte warten...
    </text>

</svg>

<form #toolbox id="toolbox">
    <h3>Toolbox</h3>

    <button mat-button *ngFor="let tool of tools" 
        [ngClass]="tool.name == selectedTool ? 'mat-raised-button tool-button' : 'tool-button'" 
        (click)="selectTool(tool.name)">
        <mat-icon [svgIcon]="tool.icon"></mat-icon> {{tool.name}}
    </button>


    <br>
    <div style="padding-top: 20px">
        <button mat-raised-button (click)="saveCurrentMap()" color="accent">
            Save
        </button>
    </div>
    <p>Selected: {{mouse.tool.name}} ({{mouse.x}} | {{mouse.y}})</p>
    <p>
        Stats:
        {{floor?.walls.length || 0}} Walls,
        {{floor?.portals.length || 0}} Portals,
        {{floor?.getAllPoints().length || 0}} Points
    </p>
    <p>
        <button mat-icon-button (click)="canvas.zoom(-1)">
            <mat-icon aria-label="Zoom -">zoom_in</mat-icon>
        </button>
        <button mat-icon-button (click)="canvas.zoom(1)">
            <mat-icon aria-label="Zooom +">zoom_out</mat-icon>
        </button>
    </p>
    <!--<pre>{{this?.floor | json}}</pre>-->
</form>

