<mat-toolbar class="mat-elevation-z6">
    <div (click)="openDialog()" id="openDialog">
        <span>{{modelSvc.currentMap?.name}} </span>
        <mat-icon id='editname'>mode_edit</mat-icon>
    </div>

    <span class="example-fill-remaining-space"></span>

    <div *ngIf="!modelSvc.userInfo?.id">
        <button mat-button [matMenuTriggerFor]="appMenu">
            <mat-icon id="toolbarNotLoggedIn">account_box</mat-icon>
            <span class="toolbar-text">Login</span>
        </button>
    </div>
    <div *ngIf="modelSvc.userInfo?.id">
        <button mat-button [matMenuTriggerFor]="appMenu">
            <mat-icon id="toolbarLoggedIn">account_box</mat-icon>
            <span class="toolbar-text">{{modelSvc.userInfo.username}}</span>
        </button>
    </div>
    <button mat-button [routerLink]="['']">
        <mat-icon id="home">home</mat-icon>
        <span class="toolbar-text">Home</span>

    </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <div *ngIf="!modelSvc.userInfo?.id;">
        <button mat-menu-item (click)="performLogin('nubenum')">Nubenum</button>
        <button mat-menu-item (click)="performLogin('github')">Github</button>
    </div>
    <div *ngIf="modelSvc.userInfo?.id;">
        <button mat-menu-item (click)="performLogout()">Logout</button>
    </div>
</mat-menu>