.mat-toolbar{
    background-color: transparent;
    position: fixed;
    top:0;
    left:0;
    z-index: 550;
    padding-left: 8px;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}
mat-toolbar button {
    padding: 0 8px;
}

@media only screen and (max-width: 650px) {
    .mat-toolbar .mat-button{
        min-width: 35px;
    }
    .toolbar-text{
        display: none;
    }
}

.mat-form-field {
    font-size: 0.5em;
}

#editname {
    position: relative;
    top: 5px;
    left: 5px;
}

#openDialog {
    cursor:pointer;
}

#openDialog .mat-icon {
    opacity: 0;
}

#openDialog span:hover + .mat-icon {
    transition: opacity 0.35s ease-in;
    opacity: 1;
}
#back{
    z-index: auto;
    margin-left: -8px;
}
