<!--Panel-->
<div class="card" style="margin: 20px 20px 20px 20px">
    <div class="card-header success-color white-text">
        Info
    </div>
    <div class="card-body">
        <h4 class="card-title">Upcoming Server Maintenance!</h4>
        <p class="card-text">On 4th of July, our Servers will be down temporarily.</p>
        <a class="btn btn-success btn-sm">Go somewhere</a>
    </div>
    <div class="card-footer text-muted success-color white-text">
        <p class="mb-0">02/Apr/2017 19:05</p>
    </div>
</div>
<!--/.Panel-->
