/* You can add global styles to this file, and also import other style files */
/* Angular-Material Theme */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.example-card {
    max-width: 400px;
    padding-top: 5px;
}

.mat-button.tool-button {
    display: block;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
}

.profile-image {
    background-size: cover;
}

.content-image {
    size: 50%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}
