
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="10px">
  <div class="item item-1" fxFlex="50%" align="center">
      <app-content-login></app-content-login>
  </div>
  <div class="item item-2" fxFlex="50%" align="center">
      <app-content-updates></app-content-updates>
  </div>
</div>

<br>

<md-card>
    <md-card-content>
      <button md-fab [routerLink]="['/editor', '45fad']">Editor</button>

          <md-slide-toggle
                          class="example-margin"
                          color="accent"
                          checked="true"
                          disabled="false">
                        Slide me!
                      </md-slide-toggle>
  </md-card-content>
</md-card>

<md-card>
    <md-card-content>
        <md-progress-spinner
          style="margin: 0 10px"
          [color]="'primary'"
          [mode]="'determinate'"
          [value]="82">
      </md-progress-spinner>
    </md-card-content>
</md-card>
